body {
/* font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important; */
/* font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; */
font-family: "Oswald","微軟正黑體",'Microsoft JhengHei','OpenSansBold', 'HelveticaNeue', 'HelveticaNeueu', sans-serif;
}

.navbar-inverse .navbar-nav > li > a {
color: #fff;
}

.nav-sidebar > li > a {
  font-size: 18px;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #fff;
background-color: #B30FA5;
font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a :hover,
.navbar-inverse .navbar-nav > li > a :focus {
  color: #fff;
  background-color: #398EFA;
  font-weight: 900;
  font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #10488F;
  font-weight: 900;
  font-size: 16px;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #505761;
  font-weight: 900;
}

.control-center {
 text-align:center;
}

.control-right {
 text-align:right;
}

.pagination {
    font-size: 12px;
}


.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
border: 1px solid #ddd;
font-size:13px;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}





.isloading-wrapper.isloading-right {
  margin-left: 10px;
}
.isloading-overlay {
  position: relative;
  text-align: center;
}
.isloading-overlay .isloading-wrapper {
  background: #FFFFFF;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  top: 30%;
  z-index: 9000;
}
.fa-refresh {-webkit-animation:element-spin 1s infinite linear}
@-webkit-keyframes element-spin
{
0%{-webkit-transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg)}
}