@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="frontendApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../favicon.png">
    <title>馨隆實業股份有限公司</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/dashboard.css" rel="stylesheet">

    <!-- Generic page styles -->
    <link rel="stylesheet" href="~/css/style.css">

    <link rel="stylesheet" href="~/css/datepicker3.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel=" stylesheet" href="~/css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="~/css/jquery.fileupload-ui-noscript.css"></noscript>


    <link href="~/css/pro-edit.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap core JavaScript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/docs.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/bootstrap-datepicker.js"></script>
    <script src="../../js/bootstrap-datepicker.zh-TW.js" charset="UTF-8"></script>
    <script src="../../js/app/frontend.js"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="js/cors/jquery.xdr-transport.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo"></div>
            <div id="menu">
                <div id="top"><img src="../images/layout_02.jpg" width="838" height="40" /></div>
                <div id="menubtn">
                    <div id="btn"></div>
                    <div id="btn1"><a href="#"></a></div>
                    <div id="btn2"><a href="/Frontend/Product"></a></div>
                    <div id="btn3"><a href="#"></a></div>
                    <div id="btn4"><a href="#"></a></div>
                    <div id="btn5"><a href="#"></a></div>
                    <div id="btn6"><a href="#"></a></div>
                </div>
            </div>
        </div>
        <div id="nav">
            @RenderBody()
        </div>
        <div id="flooter"></div>
    </div>



</body>
</html>
