@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="orderApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../favicon.png">
    <title>馨隆後台管理系統</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/dashboard.css" rel="stylesheet">

    <!-- Generic page styles -->
    <link rel="stylesheet" href="~/css/style.css">

    <link rel="stylesheet" href="~/css/datepicker3.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel=" stylesheet" href="~/css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="~/css/jquery.fileupload-ui-noscript.css"></noscript>


    <link href="~/css/pro-edit.css" rel="stylesheet">
    
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap core JavaScript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/docs.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/bootstrap-datepicker.js"></script>
    <script src="../../js/bootstrap-datepicker.zh-TW.js" charset="UTF-8"></script>
    <script src="../../js/app/order.js"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="js/cors/jquery.xdr-transport.js"></script>
    <![endif]-->

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">後台管理系統</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="title-nav-product"><a href="/Product/ProList"><i class="fa fa-inbox"></i> 產品櫥窗</a></li>
                    <li id="title-nav-account" class="active"><a href="/Order/OrderList"><i class="fa fa-file-text-o"></i> 訂單管理</a></li>
                    <li id="title-nav-account"><a href="/Account/EmpList"><i class="fa fa-user"></i> 帳號管理</a></li>
                    <li id="title-nav-logout"><a href="#"><i class="fa fa-power-off"></i> 登出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar" ng-controller="NavCtrl">
                    <li id="nav-list" ng-class="navClass('OrderList')"><a href="/Order/OrderList"><i class="fa fa-th-list"></i> 訂單查詢</a></li>
                    <!--li id="nav-add" ng-class="navClass('OrderAdd')"><a href="/Order/OrderAdd"><i class="fa fa-plus-square"></i> 新增訂單</a></li-->
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
        </div>
    </div>


</body>
</html>
