@{
    ViewBag.Title = "關於馨隆";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}


<div >
    <div id="nav">
        <div id="submenu">
            <!-- InstanceBeginEditable name="leftmenu" -->
            <div id="lefttext">
                <table width="262" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="204" align="left" valign="top">
                            <table width="204" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="204" align="center" valign="middle"><a href="/Frontend/AboutSinLong">關於馨隆</a></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle"><p style="margin-top:20px"><a href="/Frontend/MissionStatement">經營理念</a></p></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">&nbsp;</td>
                                </tr>
                            </table>
                            <p>&nbsp;</p>
                        </td>
                        <td width="58" align="left" valign="top" class="titlebg"><span class="titlebg1"><img src="~/images/sinlong_13.jpg" width="58" height="279" /></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right" valign="top"><img src="~/images/leftimg1_16.jpg" width="262" height="123" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right" valign="top"><img src="~/images/layout_20.jpg" width="261" height="232" /></td>
                    </tr>
                </table>
            </div>
            <!-- InstanceEndEditable -->
        </div>
        <div id="banner"></div>
        <!-- InstanceBeginEditable name="container" -->
        <div id="container">
            <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <td class="containertitlebg">關於馨隆About singlong</td>
                </tr>
                <tr>
                    <td align="left">
                        <p style="padding: 15px 30px;">
                            <span class="t1">【馨隆】</span>為了未來的一代舞台跟機會，給資源與支持，產品銷售跟組織建構併存成長；給空間與時間，提供一個環境與過程去平衡短期與長期的需要，讓後進累積經驗，決定他們自己的未來。 <br />
                            無數事實證明：只要把握一次機會，就能改變人的一生！<br />
                            智者創造機會，強者把握機會，弱者錯失機會，愚者害怕機會！ <br />
                            有價值的人不是看你能擺平多少人，而是看你能幫助多少人。 <br />
                            只有想不到的，沒有做不到的；潮流是短暫的，趨勢是永恆的。 <br />
                            不可能的事是想出來的，可能的事是做出來。 <br />
                            找不到路不是沒有路，在家看到的是家，走出去看到的是世界。 <br />
                            成功要經過冷水關、汗水關和淚水關，寧可被人笑一時，不可被人笑一世。 <br />
                            超越另一個自我、實現每一個承諾，喚醒沉睡的心窩、我們一定能編織美好的未來！
                        </p>
                        <p style="padding: 15px 30px;">
                            <strong class="t1">機會：你看不懂、他看不懂、總有人看得懂!</strong> <br />
                            有些事，需要自己去悟！一個人並不缺少機會，而是缺乏把握機會的能力！&nbsp; <br />
                            機會：你看不懂、他看不懂、總有人看得懂！ <br />
                            事業：你不做、他不做、總有人做！誰也阻擋不住社會的發展和時代的進步。在潮流和趨勢面前、誰先接受新的觀念，誰就可能把握住了先機！ <br />
                            亞洲首富李嘉誠說過這樣一句話：當一個新事物出現，只有5%的人知道時，趕緊做，這就是機會，做早就是先機。當有50%的人知道時，做個消費者就行了。當超過50%的人時，你看都不用去看了！ <br />
                            為什麼世界只有5%的人成功，而95%的人不能成功？原因是95%的人大腦裡都有四個字&ldquo;我不可能&rdquo;！ <br />
                            為什麼？我們做一個假設：設一個抽獎台，大家來抽獎，要是哪位抽中了，就發給他100百萬獎金，肯定有人說，這不可能，絕對不可能，世上沒那麼好的事，就算有，也不可能落在我的頭上。 <br />
                            反過來，要是誰抽中了，就把他拿去槍斃，敢不敢抽，也不敢，他們會想：天啊！我去抽，准是我！為什麼好事情不屬於我們而壞事情屬於我們？為什麼成功不屬於我而失敗屬於我們？為什麼發達不屬於我們而貧窮屬於我們？ 以上或許是真理、或許是傳直銷產業一貫的濫觴，但是以一個資深高階傳銷人看到是無數陣亡的參與者，或有成功者卻可能是『一將功成萬骨枯』。產品銷售跟組織建構無法併存，大多數人總選擇最簡單的『組織發展』但困擾的是有一屋子的庫存！無言！
                        </p>
                        <p>&nbsp; </p>
                    </td>
                </tr>
            </table>
        </div>
        <!-- InstanceEndEditable -->
    </div>
</div>
