@{
    ViewBag.Title = "產品(Product)";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}
<link href="../css/front-memberOk.css" rel="stylesheet">

<div ng-controller="memberAddCtrl">
    <div id="nav">
        <div id="container">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center"><img src="~/Images/member_ok.jpg" width="1100" height="132" /></td>
                </tr>
                <tr>
                    <td align="center"><img src="~/Images/memberok.jpg" width="943" height="458" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>
