@{
    ViewBag.Title = "經營理念";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}



    <div id="nav">
        <div id="submenu">
            <!-- InstanceBeginEditable name="leftmenu" -->
            <div id="lefttext">
                <table width="262" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="204" align="left" valign="top">
                            <table width="204" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="204" align="center" valign="middle"><a href="/Frontend/AboutSinLong">關於馨隆</a></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle"><p style="margin-top:20px"><a href="/Frontend/MissionStatement">經營理念</a></p></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">&nbsp;</td>
                                </tr>
                            </table>
                            <p>&nbsp;</p>
                        </td>
                        <td width="58" align="left" valign="top" class="titlebg"><span class="titlebg1"><img src="~/images/sinlong_13.jpg" width="58" height="279" /></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right" valign="top"><img src="~/images/leftimg1_16.jpg" width="262" height="123" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right" valign="top"><img src="~/images/layout_20.jpg" width="261" height="232" /></td>
                    </tr>
                </table>
            </div>
            <!-- InstanceEndEditable -->
        </div>
        <div id="banner"></div>
        <!-- InstanceBeginEditable name="container" -->
        <div id="container">
            <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <td class="containertitlebg">經營理念</td>
                </tr>
                <tr>
                    <td>
                        <div style="padding: 15px 30px;">
                            投身事業多年來，去過許多先進國家，我始終有很深的感觸和遺憾；在國內想買到兼具健康養身、時尚品味、質感豐富、風格獨特和安全又保值的產品，很多人的經驗是失望的，甚至有消費者必須花費更多的預算到國外才能達到心中的理想。
                            <br />
                            我常在想台灣要繼續為眼前的短利而犧牲了長期產業嗎？ <br />
                            生活是一種態度，或許你有預算可以從先進國家購買合乎你心中理想的產品，台灣有能力、有好東西，我們不要花了錢還自認倒楣「花錢乎人笑憨頭」，是改變消費習慣的時候了，讓那些只看見眼前利益的人退出台灣市場。 <br />
                            一心想成為一個值得信任的優質企業，我們有專業的、認真的、負責任的經營團隊；這是我小時候從父親身上學習來的天主教信念，以穩健踏實的步伐成長，以真、善和美的理念為出發點。 <br />
                            讓消費不再後悔、讓投資是增值而不是屯貨、讓優質的企業與消費者共享利潤。 <br />
                            產品的競爭力是我們的目標，和消費者共同打造一個安全的消費環境，以專業的、認真的、負責任的經營理念，將台灣產品價值重新定位。
                            <p>
                                馨隆實業有限公司
                                董事長  林育萱
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- InstanceEndEditable -->
    </div>
