@{
    ViewBag.Title = "產品(Product)";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}
<link href="../css/front-about.css" rel="stylesheet">

<div id="nav">
    <div id="submenu">
        <!-- InstanceBeginEditable name="leftmenu" -->
        <div id="lefttext">
            <table width="262" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="204" align="left" valign="top">
                        <table width="204" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="204" align="center" valign="middle" class="menubg"><a href="/Frontend/QandA">會員服務</a></td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle"><p>&nbsp;</p></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" class="menubg"><a href="/Frontend/OrderQa">訂購問題</a></td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle"><p>&nbsp;</p></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" class="menubg"><a href="/Frontend/PayingQa">付款問題</a></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle"><p>&nbsp;</p></td>
                            </tr>
                        </table>
                        <p>&nbsp;</p>
                    </td>
                    <td width="58" align="left" valign="top" class="titlebg"><span class="titlebg1"><img src="~/images/qa_13.jpg" width="58" height="279" /></span></td>
                </tr>
                <tr>
                    <td colspan="2" align="right" valign="top"><img src="~/images/leftimg3_16.jpg" width="262" height="123" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="right" valign="top"><img src="~/images/layout_20.jpg" width="261" height="232" /></td>
                </tr>
            </table>
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <div id="banner"></div>
    <!-- InstanceBeginEditable name="container" -->
    <div id="container">
        <table width="90%" border="0" align="center" cellpadding="3" cellspacing="0">
            <tr>
                <td class="containertitlebg">訂購問題Q&amp;A</td>
            </tr>
            <tr>
                <td bgcolor="#CCCCCC">Q1請問訂購方式有哪些？</td>
            </tr>
            <tr>
                <td>目前提供線上訂購服務或來電訂購專線06-254-173或0928-681-187林小姐</td>
            </tr>
            <tr>
                <td bgcolor="#CCCCCC">Q2.若非馨隆會員要如何訂購?</td>
            </tr>
            <tr>
                <td><p>目前可撥打訂購專線06-254-173或0928-681-187林小姐</p></td>
            </tr>
            <tr>
                <td bgcolor="#CCCCCC">Q3.如何查詢我的訂單資料呢?</td>
            </tr>
            <tr>
                <td><p>請您至我的帳戶/交易紀錄清單中，即可查詢您在馨隆的交易資料紀錄</p></td>
            </tr>
            <tr>
                <td bgcolor="#CCCCCC">Q4.如何修改訂單資料?</td>
            </tr>
            <tr>
                <td>
                    <p>
                        因系統作業程序的關係，無法提供線上直接由訂戶修改訂單內容，如您有需要請詳述您的問題留言至「客服中心」聯絡<br />
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <!-- InstanceEndEditable -->
</div>
