@{
    ViewBag.Title = "產品(Product)";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}
<link href="../css/front-about.css" rel="stylesheet">

<div id="nav">
    <div id="submenu">
        <!-- InstanceBeginEditable name="leftmenu" -->
        <div id="lefttext">
            <table width="262" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="204" align="left" valign="top">
                        <table width="204" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="204" align="center" valign="middle" class="menubg"><a href="/Frontend/QandA">會員服務</a></td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle"><p>&nbsp;</p></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" class="menubg"><a href="/Frontend/OrderQa">訂購問題</a></td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle"><p>&nbsp;</p></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" class="menubg"><a href="/Frontend/PayingQa">付款問題</a></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle"><p>&nbsp;</p></td>
                            </tr>
                        </table>
                        <p>&nbsp;</p>
                    </td>
                    <td width="58" align="left" valign="top" class="titlebg"><span class="titlebg1"><img src="~/images/qa_13.jpg" width="58" height="279" /></span></td>
                </tr>
                <tr>
                    <td colspan="2" align="right" valign="top"><img src="~/images/leftimg3_16.jpg" width="262" height="123" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="right" valign="top"><img src="~/images/layout_20.jpg" width="261" height="232" /></td>
                </tr>
            </table>
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <div id="banner"></div>
    <!-- InstanceBeginEditable name="container" -->
    <div id="container">
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td class="containertitlebg">付款問題Q&amp;A</td>
            </tr>
            <tr>
                <td bgcolor="#CCCCCC">Q1請問付款方式有哪幾種？</td>
            </tr>
            <tr>
                <td>
                    目前馨隆購物網站提供信用卡、提款機轉帳二種方式<br />
                    (1)ATM轉帳<br />
                    只要將購買款項直接匯入系統指定帳號即可完成付款。每個指定帳號只能用在該筆訂單。 <br />
                    (2)信用卡線上刷卡<br />
                    您可以安心使用信用卡（VISA、MASTER、JCB）即時線上刷卡，馬上就可以付款完成。
                </td>
            </tr>
            <tr>
                <td bgcolor="#CCCCCC">Q2.付款多久可以查到訂單明細？</td>
            </tr>
            <tr>
                <td>
                    <p>
                        信用卡付款完成訂購後即可至會員專區/我的帳戶中查詢您的交易明細。<br />
                        提款機轉帳完成次日下午可以收到 mail 確認函，亦可在會員專區/我的帳戶中查到，但若於週五～週日進行提款機轉帳付款須週一作業，請週一下午再查詢。<br />
                    </p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#CCCCCC">Q3.網路交易注意事項?</td>
            </tr>
            <tr>
                <td>
                    <p>
                        由於網路詐騙案件層出不窮,手法也不斷更新，馨隆購物網在此特別提醒您，購物網工作人員，均不會要求消費者至提款機操作任何功能，請小心勿上當<br />
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <!-- InstanceEndEditable -->
</div>
