@{
    ViewBag.Title = "產品(Product)";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}
<link href="../css/front-prod.css" rel="stylesheet">
<div ng-controller="productListCtrl">
    <div id="submenu">
        <div id="lefttext">
            <table width="262" border="0" cellspacing="0" cellpadding="0">
                <tr >
                    <td width="204" align="left" valign="top">
                        <table width="204" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="204" align="center" valign="middle" class="menubg">科技能量系列</td>
                            </tr>
                            <tr >
                                <td align="center" valign="middle" >
                                    <a href="#" ng-repeat="item in classList" ng-click="getProductList(item.app_ser)" ng-if="item.pro_class_no.substr(0,1) == 'A'">{{item.pro_class_name}}<br /></a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" class="menubg">美容系列</td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle">
                                    <a href="#" ng-repeat="item in classList" ng-click="getProductList(item.app_ser)"  ng-if="item.pro_class_no.substr(0,1) == 'B'">{{item.pro_class_name}}<br /></a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" class="menubg">保健系列</td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle">
                                    <a href="#" ng-repeat="item in classList" ng-click="getProductList(item.app_ser)"  ng-if="item.pro_class_no.substr(0,1) == 'C'">{{item.pro_class_name}}<br /></a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" class="menubg">農產品系列</td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle">
                                    <a href="#" ng-repeat="item in classList" ng-click="getProductList(item.app_ser)"  ng-if="item.pro_class_no.substr(0,1) == 'D'">{{item.pro_class_name}}<br /></a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle">&nbsp;</td>
                            </tr>
                        </table>
                        <p>&nbsp;</p>
                    </td>
                    <td width="58" align="left" valign="top" class="titlebg"><span class="titlebg1"><img src="../images/layout_13.jpg" width="58" height="279" /></span></td>
                </tr>
                <tr>
                    <td colspan="2" align="right" valign="top"><!-- InstanceBeginEditable name="img" --><img src="../images/leftimg3_16.jpg" width="262" height="123" /><!-- InstanceEndEditable --></td>
                </tr>
                <tr>
                    <td colspan="2" align="right" valign="top"><img src="../images/layout_20.jpg" width="261" height="232" /></td>
                </tr>
            </table>
        </div>
    </div>
    <div id="banner"></div>
    <!-- InstanceBeginEditable name="container" -->
    <div id="container" ng-if="listFlag">
        <div class=" row" style="margin-right: 3px; margin-left: 3px;">
            <div class="col-lg-4" ng-repeat="prodItem in pagedItems[currentPage]">
                <div class="thumbnail" style="padding: 0px;" ng-click="getProductItem(prodItem.app_ser)">
                    <div class="caption">
                        {{prodItem.prod_name}}
                    </div>
                    <img class="imgStyle" src="../img/wireframe-Template.png" ng-if="prodItem.download_url == ''" >
                    <img class="imgStyle" ng-src="..{{prodItem.download_url}}" alt="{{prodItem.prod_name}}" ng-if="prodItem.download_url != ''" >
                    <div class="caption">
                        <h4><span class="label label-danger"> $ {{prodItem.prod_special_price?prodItem.prod_special_price:prodItem.prod_price}}</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" style="" ng-if="pagedItems.length > 0">
                <div class="pagination pull-right" style="margin: 10px 0;">
                    <ul class="pagination" style="margin: 0px 0;">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()">&laquo; 上頁</a>
                        </li>
                        <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                            ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                            <a href ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                            <a href ng-click="nextPage()">下頁 &raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="container" ng-if="detailFlag" >
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><div class="alert alert-info">{{productItem[0].pro_class_name}}</div></td>
            </tr>
            <tr>
                <td>
                    <table width="95%" border="0" align="center" cellpadding="5" cellspacing="5">
                        <tr>
                            <td width="50%" align="center" style="padding:20px">
                                <img ng-src="..{{productFiles[0].url}}" width="400" height="340" ng-if="productFiles.length > 0"  />
                                <img src="../img/wireframe-Template.png" ng-if="productFiles.length == 0">
                            </td>
                            <td width="50%" align="left" valign="top">
                                <p>
                                    <span class="t1" style="font-size: 20px;">{{productItem[0].prod_name}}</span>
                                    <br /><span>產品編號: {{productItem[0].prod_no}}</span>
                                    <br/><span class="label label-danger" style="padding:5px 7px;font-size:14px"> NT $ {{productItem[0].prod_special_price?productItem[0].prod_special_price:productItem[0].prod_price}}</span><br />
                                    <div ng-bind-html="prodFeature"></div>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left" class="titlebg1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="t1">商品內容介紹</span></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left"><p ng-bind-html="prodDesc"></p></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left">
                                <div class="row" ng-repeat="fileItem in productFiles" style="text-align: center;">
                                      <img ng-src="..{{fileItem.url}}" alt="">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

