@{
    ViewBag.Title = "產品(Product)";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}
<link href="../css/front-about.css" rel="stylesheet">

<div id="nav">
    <div id="submenu">
        <!-- InstanceBeginEditable name="leftmenu" -->
        <div id="lefttext">
            <table width="262" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="204" align="left" valign="top">
                        <table width="204" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="204" align="center" valign="middle" class="menubg"><a href="/Frontend/QandA">會員服務</a></td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle"><p>&nbsp;</p></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" class="menubg"><a href="/Frontend/OrderQa">訂購問題</a></td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle"><p>&nbsp;</p></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" class="menubg"><a href="/Frontend/PayingQa">付款問題</a></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle"><p>&nbsp;</p></td>
                            </tr>
                        </table>
                        <p>&nbsp;</p>
                    </td>
                    <td width="58" align="left" valign="top" class="titlebg"><span class="titlebg1"><img src="~/images/qa_13.jpg" width="58" height="279" /></span></td>
                </tr>
                <tr>
                    <td colspan="2" align="right" valign="top"><img src="~/images/leftimg3_16.jpg" width="262" height="123" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="right" valign="top"><img src="~/images/layout_20.jpg" width="261" height="232" /></td>
                </tr>
            </table>
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <div id="banner"></div>
    <!-- InstanceBeginEditable name="container" -->
    <div id="container">
        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
            <tr>
                <td class="containertitlebg">會員服務Q&amp;A</td>
            </tr>
            <tr>
                <td bgcolor="#CCCCCC">Q1訂購前是否要先加入會員嗎?</td>
            </tr>
            <tr>
                <td>加入馨隆購物網的會員後，即可在本站訂購商品並享有馨隆購物網會員購物服務及保障，包含「24小時全年無休」、「免費送貨到府」、「免費退換貨」、「10天審閱期」、「產品責任險」、若您還不是會員，歡迎您加入馨隆購物網。</td>
            </tr>
            <tr>
                <td bgcolor="#CCCCCC">Q2.如何加入會員</td>
            </tr>
            <tr>
                <td>
                    <p>
                        步驟(一)：請您點選馨隆購物網位於上方的會員中心按鈕後，左側選單中「加入會員」，即可開始進行註冊程序。<br />
                        步驟(二)：閱讀會員服務使用條款，點選「同意」後，輸入相關資料。<br />
                        步驟(三)：輸入個人基本資料(包含需自行設定的登入帳號、密碼)，「* 」字號為必填欄位，輸入完畢後，即完成會員註冊。<br />
                        點選「會員登入」，輸入註冊時設定的【帳號】及【密碼】，登入成功後，即可在本站訂購商品。
                    </p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#CCCCCC">Q3.如果忘記帳號密碼怎麼辦</td>
            </tr>
            <tr>
                <td>
                    <p>
                        步驟(一)：請您點選馨隆購物網位於上方的會員中心按鈕後，左側選單中「會員登入」，<br />
                        步驟(二)：點選忘記帳號/密碼<br />
                        步驟(三)：輸入資料且驗證無誤後，我們將會傳送您的帳號至您註冊會員時所留下的E-mail信箱，以利您登入。
                    </p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#CCCCCC">Q4.如何修改會員資料</td>
            </tr>
            <tr>
                <td><p>步驟(一)：請您點選馨隆購物網位於上方的會員中心按鈕後，我的帳戶/個人資料，即可修改</p></td>
            </tr>
        </table>
    </div>
    <!-- InstanceEndEditable -->
</div>
