@{
    ViewBag.Title = "訂單管理";
    Layout = "~/Views/Shared/_LayoutOrder.cshtml";
}
<link href="../css/order-list.css" rel="stylesheet">
<link href="~/css/validationEngine.jquery.css" rel="stylesheet">


<div ng-controller="orderListCtrl">
    <div class="row">
        <div class="col-lg-3" style="margin: 10px 0;">
            <input type="text" ng-model="query" ng-change="search()" class="form-control search-query" placeholder="搜尋">
        </div>
        <div class="col-lg-9" style="">
            <div class="pagination pull-right" style="margin: 10px 0;">
                <ul class="pagination" style="margin: 0px 0;">
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">&laquo; 上頁</a>
                    </li>

                    <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                        ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                        <a href ng-bind="n + 1">1</a>
                    </li>

                    <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                        <a href ng-click="nextPage()">下頁 &raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>                       
                        <th class="id" custom-sort order="'app_no'" sort="sort">訂單編號&nbsp;</th>
                        <th class="name" custom-sort order="'create_date'" sort="sort">訂單日期&nbsp;</th>
                        <th class="description" custom-sort order="'amount'" sort="sort">訂單金額&nbsp;</th>
                        <th class="purchaser" custom-sort order="'purchaser'" sort="sort">訂購者&nbsp;</th>
                        <th class="purchaser_phone" custom-sort order="'purchaser_phone'" sort="sort">連絡電話&nbsp;</th>
                        <th class="field3" custom-sort order="'status'" sort="sort">狀態&nbsp;</th>
                        <th>#明細</th>  
                    </tr>
                </thead>
                <tbody>
                     <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">        
                             <td>{{item.app_no}}</td>
                             <td>{{item.create_date}}</td>
                             <td>{{item.amount}}</td>
                             <td>{{item.purchaser}}</td>  
                             <td>{{item.purchaser_phone}}</td> 
                             <td>{{item.app_status}}</td>     
                             <td><i style="font-size:16px" class="glyphicon glyphicon-align-left" ng-click="openDetail(item.app_ser)"></i></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" ng-show="selectItems[0]" class="bs-callout bs-callout-danger">
                            <div style="padding-top:10px;">
                                <div class="row">
                                    <div class="col-lg-4" style="line-height:30px">
                                        訂單編號: {{selectItems[0].app_no}} <span class="label label-success">{{selectItems[0].app_status}}</span><br>
                                        訂單日期: {{selectItems[0].create_date}}<br>
                                        訂單金額: {{selectItems[0].amount}}<br>
                                        訂單明細:<br>
                                    </div>
                                    <div class="col-lg-8" style="line-height:30px">
                                        訂購者姓名: {{selectItems[0].purchaser}}<br>
                                        連絡電話: {{selectItems[0].purchaser_phone}}<br>
                                        送貨地址: {{selectItems[0].purchaser_addr}}<br>
                                    </div>
                                </div>
                                <ul class="list-group col-lg-9" style="margin-top:10px">
                                    <li ng-repeat="detail in selectItems[0].details" class="list-group-item"><span class="badge">{{detail.productID}}</span><span class="badge-danger"> ${{detail.prod_price}}</span> {{detail.proName}}</li>
                                </ul>
                                <div class="text-right"><button type="button" class="btn btn-primary" ng-click="goUpdate(selectItems[0].app_ser)">編輯</button></div>
                            </div>
                            
                            <!--pre>total.length: {{items.length|json}}</!--pre>
         <pre>pagedItems.length: {{pagedItems.length|json}}</pre>
        <pre>currentPage: {{currentPage|json}}</pre>
        <pre>currentPage: {{sort|json}}</pre-->
                        </td>
                     </tr>
                </tfoot>
            </table>
            <div class="row">
                <div style="margin-top:2px;margin-left:10px;border-top: 2px solid #000000;padding:10px">
                    目前顯示 {{(currentPage*itemsPerPage+1)|json}} 至 {{(currentPage+1)*itemsPerPage > filteredItems.length?filteredItems.length:(currentPage+1)*itemsPerPage|json}} 共 {{filteredItems.length|json}} 筆
                </div>
            </div>
        </div>
    </div>





    <!-- Modal -->
    <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="myDeleteForm" action="@Url.Action("EmpDelete")" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">刪除確認</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="font-size:16px;">
                            <label for="inputEmpName">確定刪除：</label>
                            <label id="label-EmpName">{{empNameInfo}} 嗎?</label>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control col-lg-2" id="inputAppSer" name="app_ser" value="{{appSerInfo}}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary" id="btn-delete-submit">刪除</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Modal update-->
    <div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="editForm">
                <form id="myFormEdit" action="@Url.Action("EmpUpdate")" method="POST">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title " id="myModalLabel">修改帳號</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputeditempAppSer">編號: {{appSerUp}}</label>
                            <input type="hidden" class="form-control col-lg-2" id="editempAppSer" name="app_ser" ng-value="appSerUp">
                        </div>
                        <div class="form-group">
                            <label for="inputeditempName">帳號</label>
                            <input type="text" class="form-control validate[required]" id="editempName" name="emp_name" ng-model="empNameUp">
                        </div>
                        <div class="form-group">
                            <label for="inputEditEmpEmail">電子郵件</label>
                            <input type="text" class="form-control validate[required,custom[email]]" id="editEmpEmail" name="emp_email" ng-model="empEmailUp">
                        </div>
                        <div class="form-group">
                            <label for="inputeditEmpTel">聯絡電話</label>
                            <input type="text" class="form-control validate[required]" id="editEmpTel" name="emp_tel" ng-model="empTelUp">
                        </div>
                        <div class="form-group">
                            <label for="inputeditloginPass">密碼</label>
                            <input type="password" class="form-control validate[required]" id="editEmploginPass" name="login_password" ng-model="loginPass">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="inputEmpTitle">帳號權限</label>
                                    <select ng-model="empRole" ng-options="member for member in empRoles" class="form-control col-lg-2" name="emp_title"></select>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="empStatusUp" name="app_status" ng-checked="statusActive">帳號啟用
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="empUpdateHide()">取消</button>
                        <button type="button" class="btn btn-primary" ng-click="empUpdateSubmit()">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="../../js/jquery.validationEngine-zh_TW.js"></script>
<script src="../../js/jquery.validationEngine.js"></script>