<link href="../css/pro-add.css" rel="stylesheet">
<link href="../css/icheck/all.css" rel="stylesheet">
<link href="~/css/validationEngine.jquery.css" rel="stylesheet">

<div class="panel panel-primary" style="margin-left:0px; margin-right:10px">
    <div class="panel-heading">新增產品</div>
    <div class="panel-body">
        <!-- =========================== File Uploader Start ======================================================================= -->
        <form id="myfomeAdd" action="@Url.Action("ProCreate")" method="POST">
            <!-- Redirect browsers with JavaScript disabled to the origin page -->
            <!-- noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></!--noscript -->
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="lableProductionNo">產品編號</label>
                                <input type="text" class="form-control validate[required]" id="inputProductionNo" name="proNo" placeholder="">
                            </div>
                            <div class="col-sm-10">
                                <label for="lableProductionName">產品名稱</label>
                                <input type="text" class="form-control validate[required]" id="inputProductionName" name="proName" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="lableProductionPrice">產品價格</label>
                                <input type="text" class="form-control validate[required,custom[integer]]" id="inputProductPrice" name="proPrice" placeholder="">
                            </div>
                            <div class="col-sm-2">
                                <label for="lableProductionSpecialPrice">產品特價</label>
                                <input type="text" class="form-control validate[custom[integer]]" id="inputProductSpecialPrice" name="proSpecialPrice" placeholder="">
                            </div>
                            <div class="col-sm-2">
                                <label for="lableProductionClass">產品類別</label>
                                <select class="form-control validate[required]" id="inputProductClassId" name="proClassId">
                                    <option value="">-----</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <div style="margin-top:25px">
                                    <input tabindex="1" type="checkbox" id="proActive" name="pro_active" checked>
                                    <label for="input-1">啟用產品</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:15px;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="lableProductionFeature">產品特徵</label>
                                    <textarea class="form-control validate[required]" id="inputProductFeature" name="prodFeature" rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:15px;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="lableProductionDesc">產品描述</label>
                                    <textarea class="form-control validate[required]" id="inputProductDesc" name="prodDesc" rows="8"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="text-align:right">
                                <button type="button" class="btn btn-default" onclick="toProList()">
                                    <i class="fa fa-times"></i>&nbsp;
                                    <span>取消</span>
                                </button>

                                <button type="button" class="btn btn-danger start" id="btn-submit" onclick="">
                                    <i class="glyphicon glyphicon-save"></i>&nbsp;
                                    <span>新增儲存</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../../js/icheck.js"></script>
<script src="../../js/app/pro_add.js"></script>
<script src="../../js/jquery.isloading.min.js"></script>
<script src="../../js/jquery.validationEngine-zh_TW.js"></script>
<script src="../../js/jquery.validationEngine.js"></script>